@charset "UTF-8";

html {position: relative;

    min-height: 100%;

    margin: 0;
}

body {
min-height: 100%;
}

/* index 페이지 사진 3장인 곳  */

.section.with-bg {
    background: #f5f5f5;
}

.section.main_global, .section.main_brand, .section.main_noti {
    padding-top: 50px;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.section {
    padding: 0 0 50px;
}

.box-overspill {
    width: 100% !important;
    margin: 0 auto !important;
    max-width: 1920px !important;
    overflow: hidden;
}

.box::before, .box-overspill::before, .box::after, .box-overspill::after {
    clear: both;
    display: table;
    content: " ";
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2, .h2 {
    font-size: 60px;
    font-weight: 300;
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.main_global h2:first-child span {
    font-size: 26px;
    font-weight: 300;
    color: #888888;
    line-height: 3.0;
}

.main_global h2 span {
    letter-spacing: -.025em;
}

h2 .eng, .h2 .eng {
    font-family: 'Jost',sans-serif;
    text-transform: uppercase;
}

a, p, span, label, input {
    white-space: normal;
}

.main_global h2 span {
    font-size: 60px;
    font-weight: normal;
    color: #222222;
    letter-spacing: -.025em;
    line-height: 0.5;
}

.box {
    width: 1400px !important;
    margin: 0 auto !important;
}

* {
    outline: 0 !important;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .hs-row:before, .hs-row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .section-body:before, .section-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.box::before, .box-overspill::before, .box::after, .box-overspill::after {
    clear: both;
}

:before, :after {
    box-sizing: border-box;
}

div {
    display: block;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.main_global .col-md {
    padding: 55px 1px 70px 0;
    width: 33.33333%;
}

.col-md {
    float: left;
    position: relative;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, textarea, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.main_global img {
    padding-bottom: 50px;
}

img {
    border-style: none;
}

img, fieldset {
    border: 0;
}

label, img, input, select, textarea, button {
    vertical-align: middle;
}

dt, dd {
    line-height: 1;
}

.main_global p {
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 30px;
}

.main_global p {
    padding-bottom: 30px;
}

.main_global .name {
    font-size: 18px;
    color: #666666;
    padding: 25px 0 0 0;
}

.display-s {
    color: #9f7952;
}

/*main noti*/

.main_noti {
    position: relative;
    padding-top: 85px !important;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.main_noti h2:first-child span {
    font-size: 26px;
    font-weight: 300;
    color: #888888;
    line-height: 2.0;
}

.main_noti h2 span {
    letter-spacing: -.025em;
}

.main_noti .col-md {
    width: 33.33333%;
    text-align: left;
}

.col-md {
    float: left;
    position: relative;
}

.main_noti .col-md dl {
    margin: 40px 26px;
    margin-left: 0;
}	

a, p, span, label, input {
    white-space: normal;
}

a {
    color: #cecece;
    background-color: transparent;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main_noti::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 454px;
    background-color: #f4ece4;
    z-index: -1;
    content: '';
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, textarea, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.main_noti dl dd {
    padding: 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
    /* max-width: 430px; */
    height: 85px;
    min-height: 85px;
    max-height: 85px;
    line-height: 1.2;
    word-break: keep-all;
    white-space: normal;
}

.main_noti h2:first-child span {
    font-size: 26px;
    font-weight: 300;
    color: #888888;
    line-height: 2.0;
}

.main_noti h2 span {
    font-size: 60px;
    font-weight: normal;
    color: #222222;
    letter-spacing: -.025em;
    line-height: 1.0;
}
.box::before, .box-overspill::before, .box::after, .box-overspill::after {
    clear: both;
}
